# Performance test results

Brief description of the used server (choose one): HTTP/1.1

Brief description of your computer: Macbook Air M3 16 Gb macOS Sonoma

### Posting an answer

http_reqs: 25177
http_req_duration - median: 3.11ms
http_req_duration - 99th percentile: 27.84ms


### Posting a question

http_reqs: 5838
http_req_duration - median: 10.01ms
http_req_duration - 99th percentile: 59.8ms

### Fetching course data

(Includes 20 most recently created or upvoted questions and their upvotes)

http_reqs: 8284
http_req_duration - median: 10.67ms
http_req_duration - 99th percentile: 54.65ms

### Loading home/courses page

http_reqs: 6184
http_req_duration - median: 14.93ms
http_req_duration - 99th percentile: 60.69ms 

### Fetching question data

(Includes 20 most recently created or upvoted answers and their upvotes)

http_reqs: 23254
http_req_duration - median: 3.12ms
http_req_duration - 99th percentile: 30.37ms

### Upvoting

http_reqs: 17597
http_req_duration - median: 4.63ms
http_req_duration - 99th percentile: 32.61ms
